<div class="container">
      <div class="row">
      <div class="col-2">
      <h5><span>商品一覧</span></h5>
      </div>
       <div class="col-9"></div>
        <div class="col-1">
        <h3><%= link_to new_admin_item_path do %>
        <i class="fa-solid fa-plus"></i>
        <% end %></h3>
        </div>
      </div>

<table class="table">
  <thead>
    <span>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
    </span>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
          <% end %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_active %>
        <font color="green"><strong>販売中</strong></font>
        <% else %>
        <font color="silver">販売停止中</font>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %>
</div>