<h4>ショッピングカート</h4>
<p><%= link_to "カートを空にする", public_cart_items_destroy_all_path, class: 'btn btn-danger' %></p>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item_id.name %></td>
      <td><%= (cart_item.price * 1.1).floor %></td>
      <td><%= cart_item.amount %></td>
      <td><% (cart_item.price * 1.1).floor * cart_item.amount %></td>
      <td><%= link_to "削除する", destroy_public_cart_item_path(@cart_item.id), method: :delete, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>

  <p><%= link_to "買い物を続ける", public_items_path, class: 'btn btn-primary' %></p>

<table class="table">
  <tr>
    <th>合計金額</th>
    <%= form_with model: @cart_items, url:new_public_order_path,method: :post do |f| %>
    <td> <% @合計金額 +=  (cart_item.price * 1.1).floor * cart_item.amount %></td>
  </tr>
  </table>
  <%= f.submit  "情報入力に進む", class: 'btn btn-success' %>
  <% end %>
