<h5><span>商品一覧</span></h5>
<table class="table">
    <% @items.each do |item| %>
    <tr><%= image_tag item.image, size: "150x100" %></tr><br>
    <tr><%= link_to public_item_path(item.id) do %>
          <%= item.name %>
          <% end %></tr><br>
    <tr>￥<%= item.price %></tr><br>
    <% end %>
</table>
<%= paginate @items %>
