<h2>商品詳細</h2>
<%= image_tag @item.image, size: "300x200" %>
<table class="table">
  <tr>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><%= @item.instroduction %></td>
  </tr>
  <tr>
    <td>￥<%= @item.price %>（税込）</td>
  </tr>
</table>

<%= f.select :amount, *[1..10] %>
<%= f.submit "カートに入れる",public_cart_items_path(@item.id), class: "btn btn-success" %>
<% end %>