<h5><span>商品詳細</span></h5>
<%= image_tag @item.image, size: "300x200" %>
<table class="table">
  <tr>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><%= @item.instroduction %></td>
  </tr>
  <tr>
    <td>￥<%= @item.price %>（税込）</td>
  </tr>
</table>
<%= form_with model: @cart_item, url:public_cart_items_path, method: :post do |f| %>
<%= f.select :amount, *[1..10] %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.submit "カートに入れる", class: "btn btn-success" %>
<% end %>